@media (max-width:978px) {
  .logo img {
    bottom: 69px;
  }
  .mainimage {
    margin-left: 100px;
    width: 33%;
  }
  main {
    grid-template-columns: 1fr;
    grid-row-gap: 34px;
  }
  aside {
    grid-row-start: 1;
  }
  section {
    padding-top: 70px;
  }
}